*
{
    font-size : 115%;
    font-family: 'Nunito', sans-serif;

    --transitionspeed : 0.5s;
}
body
{
    background-color:#31D679;
    
}

::-moz-selection, ::selection
{
    color : #0cab29;
}

#wrapper
{
    display : grid;
    grid-template-columns : 10% 90%;
    grid-template-rows : auto auto;
}
#scrollmenu
{
    grid-column : 1 / 2;
    grid-row : 1 / 2;
    position : sticky;
    position: -webkit-sticky;
    top : 31%;
}
#scrollmenu ul
{
    list-style: none;
}
.customradio
{
    min-width : 25px;
    height : 25px;
}
.customradio input
{
    width : 25px;
    height : 25px;
    display : none;
}
.customradio input + .fill
{
    border : 1px solid white;
}
.customradio input:checked + .fill
{
    background-color: white;
}
.fill
{
    display: inline-block;
    width : 25px;
    height : 25px;
    border-radius : 50%;
    cursor : pointer;
}

#content
{
    grid-column : 2 / 3;
    grid-row : 1 / 2;
}

.box
{
    display : inline-block;
    height : 18em;
    width : 90%;
    margin : 5em 2% 5em 8%;
}
.inner
{
    display: inline-block;
    position : relative;
    top : 30%;
    width : 80%;
    left : 10%;
    font-size : 80%;
    text-align: center;
    padding-left : 5%;
    padding-right : 5%;

    border-radius : 1em;
    border : 3px solid black;
    transition : font-size var(--transitionspeed);

    background-color: #B4E7CE;
}
#one
{
    margin-top : 0;
}
#one, #two
{
    margin-bottom : 2em;
}

#in1
{
    display : grid;
    grid-template-columns : 30% 70%;
    grid-template-rows : 20% 80%;
}
#surname
{
    grid-row : 1 / 2;
    grid-column : 2 / 3;
}
#photo
{
    grid-row : 1 / 3;
    grid-column : 1 / 2;

    margin-top : 15%;
}
#photoimg
{
    height : 8em;
    width : auto;
}

#three
{
    margin-bottom : 19em;
}

#four
{
    margin-bottom : 12em;
}
ul
{
    list-style:circle;
}
#tt3
{
    transition : font-size var(--transitionspeed);
}

#five
{
    margin-bottom : 15em;
}

#footer
{
    grid-column : 1 / 3;
    grid-row : 2 / 3;
    display : block;
    position : sticky;
    bottom : 0;

    margin-bottom : -5%;
    width : 98vw;

    background-color: rgba(52, 112, 72, 0.9);
    text-align: center;
    color : white;
    font-size : 80%;
}
a, a:visited
{
    color : white;
    font-size : 100%;
}
a:hover
{
    color : rgba(255, 255, 255, 0.5);
}